.principal{
    width: 80%;
    margin: auto;
    background-image:url(../img/Teste2.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
}

main{
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

.gallery{
    width: 40%;
    margin: auto;
    display: block;
    text-align: center;
}

.cadastro{
    width: 40%;
    margin: auto;
    height: 420px;
    background-color: white;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to bottom, white 0%, rgb(59, 168, 248) 100%);
    border-image-slice: 2;
    padding:0px;
    z-index: 2;
    position: relative;
}

.legenda{
    font-size: 20px;
    text-align: center;
    font-family: Arial,sans-serif,serif;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    position: relative;
}

.caixa{
    width:80%;
    margin: auto;
    border-radius: 10px;
    color:rgb(59, 168, 248);
    display: block;
    position: relative;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 0px;
    outline: none;
}

.envio{
    width:80%;
    margin: auto;
    background-color: rgb(59, 168, 248);
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: Arial,sans-serif,serif;
    display: block;
    position: relative;
}

#termos{
    font-family: Arial,sans-serif,serif;
    color:rgb(59, 168, 248);
    text-align: center;
    text-decoration: none;
    margin-bottom: 0px;
    margin-top: 0px;
}

#ajuste{
    display: block;
    position: relative;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
}

.link{
    margin-top: 5px;
    font-family: Arial,sans-serif,serif;
    font-size: 12px;
    color:rgb(59, 168, 248);
    text-align: center;
    display: block;
    position: relative;
}

.link a{
    font-family: Arial,sans-serif,serif;
    font-size: 12px;
    color:rgb(59, 168, 248);
    text-align: center;
}

.card01{
    width: 30%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    float:left;
    margin-bottom: 0px;
}

.card01 img{
    width: 100%;
}

.card02{
    width: 25%;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    float:left;
    margin-bottom: 0px;
}

.card02 img{
    width: 100%;
}

@media screen and (max-width:48.75em){
.gallery{
    width: 65%;
}
    
.cadastro{
    width:65%;
} 
}
@media screen and (max-width:31.25em){
.gallery{
    width: 80%;
}
    
.cadastro{
    width:80%;
}

}
@media screen and (max-width:28.125em){
    .envio{
    width:80%;
    margin: auto;
    background-color: rgb(59, 168, 248);
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Arial,sans-serif,serif;
    display: block;
    position: relative;
}
}
@media screen and (min-height:43.75em) and (max-height:87.5em){
    main{
        margin-top:20%; 
    }
}