.principal{
    width: 80%;
    margin: auto;
    background-image:url(../img/Teste2.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
}

main{
    width: 100%;
    margin: auto;
    margin-top: 60px;
}

.gallery{
    width: 40%;
    margin: auto;
    display: block;
    text-align: center;
}

.cadastro{
    width: 40%;
    margin: auto;
    height: 300px;
    background-color: white;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to bottom, white 0%, rgb(59, 168, 248) 100%);
    border-image-slice: 2;
    padding:0px;
    z-index: 2;
    position: relative;
}

.legenda{
    font-size: 20px;
    text-align: center;
    font-family: Arial,sans-serif,serif;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    position: relative;
    color:  rgb(59, 168, 248);
}

#text01{
    color:  rgb(59, 168, 248);
    text-align: center;
    font-family: Arial,sans-serif,serif;
    font-size: 16px;
}

#text02{
    color:  rgb(59, 168, 248);
    font-family: Arial,sans-serif,serif;
    font-size: 12px;
    text-align: center;
    display: block;
    margin-top: 20px;
}

.caixa{
    width:80%;
    margin: auto;
    border-radius: 10px;
    color:rgb(59, 168, 248);
    display: block;
    position: relative;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: 0px;
    outline: none;
}

.envio{
    width:60%;
    margin: auto;
    background-color: rgb(59, 168, 248);
    color: white;
    border-radius: 10px;
    font-size: 16px;
    padding-right: 30px;
    padding-left:30px;
    font-family: Arial,sans-serif,serif;
    display: block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    outline: none;
}

.link{
    font-family: Arial,sans-serif,serif;
    font-size: 12px;
    color:rgb(59, 168, 248);
    position: relative;
}

.link a{
    font-family: Arial,sans-serif,serif;
    font-size: 12px;
    color:rgb(59, 168, 248);
}


@media screen and (max-width:48.75em){
.gallery{
    width: 65%;
}
    
.cadastro{
    width:65%;
    height: 300px;
} 
}
@media screen and (max-width:31.25em){
.gallery{
    width: 80%;
}
    
.cadastro{
    width:80%;
    height: 300px;
}

}
@media screen and (max-width:28.125em){
    .envio{
    width:80%;
    margin: auto;
    background-color: rgb(59, 168, 248);
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Arial,sans-serif,serif;
    display: block;
    position: relative;
}
}
@media screen and (min-height:43.75em) and (max-height:87.5em){
    main{
        margin-top:20%; 
    }
}